aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
charset-normalizer==2.0.12
cycler==0.11.0
fonttools==4.29.1
frozenlist==1.3.0
idna==3.3
imageio==2.16.0
kiwisolver==1.3.2
matplotlib==3.5.1
mpmath==1.2.1
multidict==6.0.2
numpy==1.21.5
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.7
python-dateutil==2.8.2
pyvista==0.33.2
-e git+https://github.com/zakgrin/respy.git@b688f6b7e5ae3a6031b567bc1d415358de1f376f#egg=respy
scipy==1.7.3
scooby==0.5.11
six==1.16.0
sympy==1.9
tabulate==0.8.9
typing_extensions==4.1.1
vtk==9.1.0
wslink==1.4.1
yarl==1.7.2
