{{! Numpy Docstring Template }}
{{! https://github.com/NilsJPWerner/autoDocstring/blob/f7bc9f427d5ebcd87e6f5839077a87ecd1cbb404/src/docstring/templates/numpy.mustache}}
{{summaryPlaceholder}}

{{extendedSummaryPlaceholder}}
{{#parametersExist}}

Parameters
----------
{{#args}}
{{var}} : {{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/args}}
{{#kwargs}}
{{var}} : {{typePlaceholder}}, optional, by default {{&default}}
    {{descriptionPlaceholder}}
{{/kwargs}}
{{/parametersExist}}
{{#returnsExist}}

Returns
-------
{{#returns}}
{{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/returns}}
{{/returnsExist}}
{{#yieldsExist}}

Yields
------
{{#yields}}
{{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/yields}}
{{/yieldsExist}}
{{#exceptionsExist}}

Raises
------
{{#exceptions}}
{{type}}
    {{descriptionPlaceholder}}
{{/exceptions}}
{{/exceptionsExist}}