sphinx
# sphinx_rtd_theme
# sphinx_copybutton
livereload
myst-parser
mypy
# sphinx-automodapi
pydata-sphinx-theme
# IPython
# ipykernel
# nbsphinx
# pandoc
myst-nb
# sphinx-gallery
sphinx-comments
# numpydoc
sphinx_design
sphinxcontrib-bibtex